In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("WordCount").getOrCreate()

24/01/19 13:00:00 WARN Utils: Your hostname, Mewans-MacBook-Air-M1.local resolves to a loopback address: 127.0.0.1; using 192.168.201.38 instead (on interface en0)
24/01/19 13:00:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/19 13:00:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
file_path = "/Users/mewanmadusha/sample.txt"
data = spark.read.text(file_path)

In [5]:
data.show()

+--------------------+
|               value|
+--------------------+
|The quick brown f...|
|He wondered why t...|
|He should have be...|
|The park was full...|
|He stopped to pet...|
|As he walked, he ...|
|He felt grateful ...|
|Eventually, he fo...|
|He sat on a bench...|
|It was a peaceful...|
|He realized that ...|
+--------------------+

In [6]:
from pyspark.sql.functions import split, explode

In [7]:
words = data.select(explode(split(data.value, " ")).alias("word"))

In [8]:
word_count = words.groupBy("word").count()

In [12]:
words.count()

163

In [18]:
word_count.show(100)

+-----------+-----+
|       word|count|
+-----------+-----+
|     trees.|    1|
|    flowers|    1|
|      bench|    1|
|   Instead,|    1|
|       even|    1|
|       lazy|    2|
|   grateful|    1|
|     fluffy|    1|
|  continued|    1|
|      park,|    1|
|   colorful|    1|
|        was|    5|
|       park|    1|
|     jumped|    1|
|       it's|    1|
|      bring|    1|
|        dog|    2|
|       way.|    1|
|   enjoying|    1|
|       day.|    1|
|     place.|    1|
|         in|    4|
|   peaceful|    1|
|    admired|    1|
|       take|    1|
|    himself|    1|
|     water.|    1|
|         As|    1|
|   realized|    2|
|    napping|    1|
|   located.|    1|
|      geese|    1|
|     should|    1|
|       such|    1|
| sometimes,|    1|
|       too.|    1|
|       felt|    2|
|      white|    1|
|       life|    1|
|         on|    2|
|        but|    1|
|        fox|    1|
|     people|    1|
|      ducks|    1|
|        sat|    1|
|       live|    1|
|         it|    1|
|       full|    1|
|   wondered|    1|
|       have|    1|
|    poodle,|    1|
|         It|    1|
|     things|    1|
|         He|    6|
|   content.|    1|
|      move.|    1|
|        the|   14|
|      sunny|    1|
|       pond|    1|
|       tall|    1|
|       edge|    1|
|       joy.|    1|
|       dog.|    1|
|      lazy,|    1|
|        pet|    1|
|        and|    6|
|    decided|    1|
|       been|    1|
|      where|    1|
|     middle|    1|
|       walk|    1|
|Eventually,|    1|
|      small|    1|
|         of|    3|
|        The|    3|
|     didn't|    1|
|      brown|    1|
|       over|    1|
|      quick|    1|
|      found|    1|
|         at|    1|
|       that|    2|
|         so|    1|
|        all|    1|
|          a|    6|
|    moment,|    1|
|       most|    1|
|      dogs,|    1|
|           |    9|
|    walked,|    1|
|        why|    1|
|      park.|    1|
|   swimming|    1|
|   weather.|    1|
|        his|    1|
|     simple|    1|
|       then|    2|
|         to|    3|
|    watched|    1|
|         he|    6|
+-----------+-----+
only showing top 100 rows

In [17]:
print(word_count.to_string())

AttributeError: 'DataFrame' object has no attribute 'to_string'